/* General Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  color-scheme: light;
}

:root {
  --white: #fff;
  --black-1: #17181a;
  --gray-1: #42454a;
  --gray-2: #414449;
  --gray-3: #eae8f3;
  --gray-4: rgba(139, 147, 141, 1);
}

/* Header Styles */
.top-nav {
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  font-weight: 400;

  max-width: 93%;
  margin: 28px auto 0 auto;
  text-transform: uppercase;
}

.top-nav > ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6%;
  position: relative;
  min-height: 46px;
}

.top-nav > ul > li > a {
  text-decoration: none;
  color: var(--gray-1, #42454a);
}

.top-nav i {
  margin-left: 10px;
  margin-bottom: 2px;
}

.arrow {
  border: solid #42454a;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.logo {
  position: absolute;
  left: 0;
}

.top-nav button {
  color: var(--white, #fff);
  background-color: var(--gray-1, #42454a);
  padding: 16px 26px;
  border-radius: 4px;
  box-shadow: 0px 12px 25px -10px rgba(66, 69, 74, 0.3);
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 0.28px;
}

.top-nav > ul li:last-child {
  position: absolute;
  right: 0;
}

.top-nav .log-in-list-item {
  position: absolute;
  right: 122px;
}

.top-nav .log-in-list-item > button {
  background-color: var(--white, #fff);
  color: var(--gray-1, #42454a);
}

.top-nav-hr {
  margin-top: 26px;
  color: var(--gray-3, #eae8f3);
}

.header-wrapper {
  margin-top: 34px;
  margin-left: 3.5%;
  max-width: 96.5%;
  font-family: "Ubuntu", sans-serif;
  color: var(--gray-1, #42454a);

  display: flex;
  position: relative;
}

.header-text-wrapper > h1 {
  margin-top: 52px;
  max-width: 586px;
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-size: 90px;
  font-weight: 300;
  line-height: 95px; /* 105.556% */
  letter-spacing: 0.9px;
  text-transform: uppercase;
  position: relative;
}

.header-text-wrapper > h1 > span {
  font-weight: 700;
}

.header-text-wrapper > hr {
  margin-top: 92px;
  max-width: 335px;
  height: 4px;
  background: var(--gray-1, #42454a);
}

.header-text-wrapper > p.first-prgh {
  max-width: 354px;
  margin-top: 62px;

  font-size: 22px;
  font-weight: 400;
  line-height: 34px; /* 154.545% */
  letter-spacing: 0.22px;
}

.header-buy-now-sect {
  display: flex;
  margin-top: 52px;
  min-height: 74px;
  align-items: center;
  max-width: 450px;
}

.header-buy-now-sect p.buy-now-prgh {
  color: var(--black-1, #17181a);
  font-size: 20px;
  font-weight: 500;
  line-height: 32px; /* 160% */
  letter-spacing: 0.4px;
  margin-left: 5%;
  cursor: pointer;
}

.header-buy-now-sect p.watch-video-prgh {
  color: var(--gray-2, #414449);
  font-size: 18px;
  font-weight: 500;
  line-height: 25px; /* 138.889% */
  letter-spacing: 0.18px;
  max-width: 88px;
  margin-left: 17%;
  margin-right: 4.5%;
}

.header-image {
  background: #dbdbdb;
  width: 510px;
  height: 550px;
  position: absolute;
  right: 0;
  bottom: -5%;
  border-radius: 300px 0 0 300px;
  z-index: -1;
}

.header-image > img {
  position: absolute;
  right: 5%;
  bottom: -3%;
}

.header-scooter-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 3.5%;
}

.header-scooter-nav span {
  font-family: "Calistoga", cursive;
  font-size: 150px;
  font-weight: 400;
  line-height: 230px; /* 153.333% */
  letter-spacing: 1.5px;
  color: var(--white, #fff);
  text-shadow: -1.5px 0 var(--gray-4, rgba(139, 147, 141, 1)),
    0 1.5px var(--gray-4, rgba(139, 147, 141, 1)),
    1.5px 0 var(--gray-4, rgba(139, 147, 141, 1)),
    0 -1.5px var(--gray-4, rgba(139, 147, 141, 1));
  margin-right: 2.5%;
}

.header-scooter-nav button {
  background-color: var(--white, #fff);
  border: 1.5px solid black;
  padding: 15px 20px;
  font-size: 15px;
  cursor: pointer;
}

.header-scooter-nav button.btn-left-arrow {
  border-radius: 50% 0 0 50%;
  border-right: none;
}

.header-scooter-nav button.btn-right-arrow {
  border-radius: 0 50% 50% 0;
}

.header-features-sect {
  display: flex;
  font-family: "Ubuntu", sans-serif;
  color: var(--gray-1, #42454a);
  max-width: 93%;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  flex-wrap: wrap;
  gap: 3vw;
}

.header-features-sect > div {
  text-align: center;
  border-radius: 6.606px;
  border: 0.661px solid #f4f4f4;
  box-shadow: 0px 13.211169242858887px 26.422338485717773px 0px
    rgba(0, 0, 0, 0.06);
  min-width: 174px;
  min-height: 136px;
}

.header-features-sect h3 {
  font-size: 40px;
  font-weight: 700;
  line-height: 100%; /* 40px */
  padding-top: 30px;
}

.header-features-sect span {
  font-size: 18px;
}

.header-features-sect p {
  font-size: 13px;
  font-weight: 400;
  line-height: 130%; /* 16.9px */
}

/* Main Styles */
main > section {
  margin-top: 126px;
  font-family: "Ubuntu", sans-serif;
  color: var(--gray-1, #42454a);
}

main > section > h2 {
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  line-height: 120%; /* 60px */
}

main > section > p {
  margin-top: 34px;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 140%; /* 28px */
}

section.product-info > .product-info-list-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap-reverse;
}

.product-info-list-section > ul {
  padding: 50px 0;
}

.product-info-list-section > img {
  max-width: 100%;
}

section li::before {
  content: url("/images/list-marker.svg");
  padding-right: 18px;
}

section ul li {
  font-size: 20px;
  font-weight: 400;
  line-height: 140%; /* 28px */

  display: flex;
  align-items: center;
  margin-bottom: 32px;
}

section.motor-info > p {
  position: relative;
  z-index: 1;
}

section.motor-info > img {
  width: 90%;
  display: block;
  margin: 0 auto;
  margin-top: -30px;
}

.golf-bag-rock-sect {
  margin: 112px auto 0;
  max-width: 95%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.accessories-info h3 {
  font-size: 50px;
  font-weight: 700;
  line-height: 120%; /* 60px */
}

.accessories-info ul {
  margin-top: 34px;
}

.golf-sect-images {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.shopping-rack-sect {
  margin-top: 112px;
  max-width: 88.5%;

  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  flex-wrap: wrap;
}

.shopping-sect-images {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  flex-wrap: wrap;
  gap: 4vw;
}

.accessories-info > button,
.gallery button {
  display: block;
  padding: 28px 60px;
  margin: 102px auto 0;

  border-radius: 10px;
  border: 2px solid var(--gray-1, #42454a);
  background-color: var(--white, #fff);
  cursor: pointer;

  color: var(--gray-1, #42454a);
  font-family: "Ubuntu", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 120%; /* 36px */
}

.gallery-wrapper {
  display: flex;
  max-width: 93%;
  margin: 112px auto 0;
  justify-content: space-between;
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.first-col {
  margin-top: 190px;
}

.second-col {
  gap: 96px;
}
.gallery-buttons button {
  margin: 0;
  width: 90%;
}

.gallery-buttons {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.colors > img {
  width: 100%;
  margin-top: 112px;
}

.colors-img-container {
  position: relative;
  cursor: pointer;
}

.colors-img-container > img {
  width: 20vw;
  border-radius: 10px;
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;

  color: rgba(255, 255, 255, 0.6);
  font-family: "Ubuntu", sans-serif;
  font-size: clamp(20px, 8vw, 80px);
  font-weight: 700;
}

.scooters-images-wrapper {
  display: flex;
  justify-content: space-around;
  margin-top: -10%;
}

.testimonials {
  background-color: #fafafa;
}

.testimonials > h2 {
  padding-top: 78px;
}

.reviews-wrapper {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 3vw;
  flex-wrap: wrap;
}

.review {
  border: 1px solid #d8d8d8;
  max-width: 25%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: background-color 300ms, box-shadow 300ms;
}

.review:hover {
  background-color: #fff;
  box-shadow: 0px 1.8518518209457397px 3.1481480598449707px 0px
      rgba(49, 49, 49, 0.02),
    0px 20px 13px 0px rgba(49, 49, 49, 0.05),
    0px 38.51852035522461px 25.481481552124023px 0px rgba(49, 49, 49, 0.06);
}

.review > .stars {
  margin-top: 52px;
  max-width: clamp(100px, 8vw, 200px);
}

.review > p {
  text-align: center;
  margin-top: 1vw;
  max-width: 85%;
  font-size: 20px;
  font-weight: 400;
  line-height: 140%;
}

.review-author {
  margin: 3vw 0 2vw;
  width: 60%;
  white-space: nowrap;
}

.review-author > img {
  float: left;
  margin-right: 10px;
}

.review-author h4 {
  margin-top: 5px;
}

.testimonials-nav {
  width: fit-content;
  margin: 44px auto 0;
  padding-bottom: 82px;
  display: flex;
  gap: 1rem;
}

.testimonials-nav > button {
  border-radius: 50%;
  border: 2px solid rgba(66, 69, 74, 1);
  padding: 10px 14px 14px;
  font-size: 1rem;
  cursor: pointer;
}

.newsletter > p {
  margin-top: 10px;
}

.newsletter > form {
  margin: 58px 0 126px 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

form > input[type="email"] {
  padding: 26px;
  width: clamp(18rem, 27vw, 25rem);
  border-radius: 10px;
  border: 1.5px solid #f5f5f5;
  background: #fafafa;

  color: #42454a;
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 140%; /* 28px */
}

form > input[type="submit"] {
  width: 196px;
  padding: 26px;
  border: none;
  border-radius: 10px;
  background: #42454a;

  color: #fbfbfb;
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 140%; /* 28px */
  cursor: pointer;
}

/* Footer Styles */
footer {
  background: #42454a;
  position: relative;
}

footer > img {
  position: absolute;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  bottom: 9%;
  left: -9%;
  width: 728px;
}

.footer-nav-wrapper {
  --_width: 52%;

  display: flex;
  gap: 10vw;
  flex-wrap: wrap;
  width: var(--_width);
  position: relative;
  left: calc(100% - var(--_width));
  padding-top: 100px;
}

footer h4 {
  color: #fbfbfb;
  font-family: "Ubuntu", sans-serif;
  font-size: 22px;
  font-weight: 700;

  margin-bottom: 44px;
}

footer ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
  list-style-type: none;
}

footer li {
  color: #fbfbfb;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}

footer p {
  color: #fbfbfb;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 70px 0 30px;
}

footer i {
  background-color: rgba(250, 250, 252, 1);
  padding: 10px 12px;
  border-radius: 50%;
  cursor: pointer;
}

.footer-icons {
  display: flex;
  gap: 14px;
  margin-top: 24px;
}
